@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;500;600;700&family=Oswald:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan' sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 30px;
    line-height: 46px;
    color: black;
}
h5{
    font-size: larger;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
 body {
    width: 100%;
 }
 .section-p1 {
    padding: 40px 80px;
 }
.section-m1{
    margin: 40px 0 ;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: azure;
    box-shadow: 0 5 px 15px rgba(0, 0, 0, 0.08);
    z-index: 99999;
    position: sticky;
    top: 0;
    left: 0;
    height: 11vh;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20 px;
    margin-top: 3px;
    position: relative;
    
}
#navbar li a {
    text-decoration: none ;
    font-size: 16px;
     font-weight: 600;
     color: black;
     margin: 20px;
     text-transform: uppercase;
     opacity: 0.7;
     font-size: 18px;
    
}

#navbar li a:hover,
#navbar li a.active {
   opacity: 1;
   
}
#navbar li a.active::after, 
#navbar li a:hover::after {
    width: 30%;
    height: 2px;
    content :"";
    background: turquoise;
    position: absolute;
    bottom: -4px;
    left: 20px;
    
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
    
}
.logo{
    width: 150px;
}
#hero {
    background-image: url(../img/blonde-woman-grey-wall-with-surprise-facial-expression.jpg);
    height: 90vh;
    width: 100%;
    background-position: top 30% right 0;
    background-size: cover;
    padding: 0 80px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px;
    border-radius: 15px;
    text-decoration: none;
    font-size: larger;
}
.btn-primary {
    color: rgb(252, 255, 255);
    border: 1px solid white;
    background-color:rgb(55, 145, 115);
    font-size: 20px;
    font-weight: 600;
    
}

.btn-primary:hover{
    background: rgb(242, 242, 145);
    color: rgb(8, 8, 8);
}
#hero h4 {
    padding-bottom: 15px;
}
#hero h4 {
   color: rgb(5, 5, 5);
}
#hero h2 {
    color: rgb(8, 8, 8);
 }
#hero h1 {
    color: rgb(3, 113, 102) ;
}
#hero p {
   font-size: 18px;
   color: rgb(12, 12, 12);
}
#product1{
    text-align: center;
    
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7de;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(10, 217, 236, 0.5);
    margin:  15px 0 ;
    transition: 0.2s ease;
    position: relative;
    margin-right: 20px;
    margin-bottom: 50px;
}
#product1 .pro:hover{
    box-shadow:  20px 20px 30px rgb( 0, 0, 0,0.02);
    transform: scale(1.1);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc{
    text-align: center;
    padding:10px 0 ;
}
#product1 .pro .desc span{
    color: #606053; 
    font-size: 20px;
}
#product1 .pro .desc h5{
    padding: 7px;
    color: black;
    font-size: 14px;

}
#product1 .pro .desc i{
    font-size: 12px;
    color: rgb(247, 247, 46);
}
#product1 .pro .desc h4 {
    padding-top: 7px;
    font-size: 18px;
    color: rgb(3, 54, 126);
    font-weight: 700;

}
#product1 h2{
    text-transform: uppercase;
}
#product1 .pro a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: aliceblue;
    font-weight: 500;
    color: rgb(64, 88, 224);
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 20px;
    transition: 0.2s;
}

#product1 p {
    font-size: 20px;

}
.pro-container-best{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.pro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/daytime_bg.jpeg );
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
#banner h4 {
    color: rgb(7, 7, 7);
    margin-bottom: 10px;
    padding: 10px 0 ;
    text-transform: uppercase;
}
#banner h2 {
    color:rgb(7, 7, 7);
    margin-bottom: 30px;
    padding: 10px 0 ;
    font-size: 40px;
    text-transform: uppercase;
}
#banner span {
    color: red;
    font-size: 50px;
}
#banner .btn {
   background-color: rgb(249, 5, 5);
   color: aliceblue;
}
#banner .btn:hover{
    background: black;
    color: white;
}
.pro span{
    text-transform: uppercase;
}
#mini-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#mini-banner:hover{
    opacity: 1;
}
#mini-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../img/b17\ \(1\).jpg );
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 10px 20px;   
    padding: 15px;
    border-radius: 25px;
}
#mini-banner .banner-box .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px;
    border-radius: 10px;
    text-decoration: none;
    font-size: larger;
}
.btn-secondary {
    color: rgb(11, 12, 12);
    border: 1px solid white;
    border: 10px;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    
}

.btn-secondary:hover{
    background: black;
    color: white;
}
#mini-banner .banner-box h4, span ,a {
margin: 5px;
}
#mini-banner .banner-box h4{
    margin-bottom: 25px;
    color: red;
    font-size: 90px;
    font-weight: 600;
}
#mini-banner .banner-box h2{
    font-size: 50px;
    font-weight: 500;
}
#mini-banner .banner-box span{
    font-size: 18px;
    font-weight: 400;
}
#mini-banner .ban2{
    background-image: url(../img/b10\ \(1\).jpg);
    
}
#mini-banner .ban2 h4 ,
.ban2 h2, 
.ban2 span
{
    color: aliceblue;
}
#mini-banner .ban2 .h2 {
    font-size: 50px;
    font-weight: 400;
   
}
#mini-banner .ban2 .h4 {
    font-size: 200px;
    font-weight: 70000;
   
}
#banner3{
    display: flex;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 50px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/b7\ \(3\).jpg );
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 50px 20px;   
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
}
#banner3 .banner-box h2  {
    color: aliceblue;
    font-size: 22px;
    font-weight: 900;
}
#banner3 .banner-box h3{
    color: aliceblue;
    font-size: 25px;
    font-weight: 600;
    
}
#banner3 span{
    color: red;
    font-size: 35px;
    font-weight: 700;
   
}
#banner3 .banner-box2{
    background-image: url(../img/b4\ \(2\).jpg);
}
#banner3 .banner-box3{
    background-image: url(../img/b18\ \(1\).jpg  ) ;
}
#banner3 .banner-box3 h3{
    color: black;
}
#banner3 .banner-box3 span{
  margin-left: 45%;
   color: rgb(247, 4, 4);
}
#banner3 .banner-box2 h2{
    margin-top: 30px;
    color: rgb(249, 246, 246);
}
#banner3 .banner-box2 span{
    display: block;
}
#banner3 .banner-box1 span{
    display: block;
}
#product1 .pro-container-best img{
    width: 60%;
   
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer col{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
   margin-left: 50px;
   text-decoration: none;
   margin-right: 90px;
}
footer #contact{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-bottom: 50px;
   margin-left: 90px;
   text-decoration: none;
   margin-right: 90px;
}
footer .about {
    display: flex;
  flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
   margin-left: 50px;
   margin-right: 90px;
}
footer .about  a,
footer .accounts  a{
    color: black;
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
}
footer .about  a:hover,
footer .accounts  a:hover{
    color: rgb(70, 70, 225);
}
footer .accounts {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
   margin-left: 50px;
   margin-right: 100px;
}
footer .logo{
    margin-bottom: 20px;
    width: 250px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 5px;
}
footer p{
    margin: 18px;
    margin: 0 0 8px 0;
    font-size: 17px;
}
footer .follow{
    margin-top: 5px;
    padding-right: 10px;
    cursor: pointer;

}
footer .follow h4{
    margin-top: 30px;
    margin-bottom: 0px;
}

footer .follow i{
    margin: 18px;
    margin: 5px 5px 8px 5px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
    
}
footer .follow i:hover{
    color: rgb(70, 70, 225);
}

footer .install  img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img {
    margin: 15px 20px 15px 0px;
}

footer .about h4,
.contact h4,
.install h4 {
    text-transform: uppercase;
}

/* medium screen */

@media(max-width:992px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:azure;
        box-shadow: 0 40px 60px rgb( 0, 0, 0,0.02);
        padding: 80px 0 0 10px;
        transition: 0.3s;
       
        
    }
    
    #navbar.active{
        right:0px ;
    }
    #navbar li{
        margin-bottom: 25px;

    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile{
        color: black;
        font-size:24px;
        padding-left: 20px;
        cursor: pointer;
    }
#close{
    position: absolute;
    display: flex;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 25px;
}
#hero {
    background-image: url(../img/blonde-woman-grey-wall-with-surprise-facial-expression.jpg);
    height: 99vh;
    width: 100%;
    background-position: top 25% right 70%;
    background-size: cover;
    padding: 0 30px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}
#banner h4 {
    color: rgb(7, 7, 7);
    margin-bottom: 10px;
    padding: 10px 0 ;
    text-transform: uppercase;
    font-size: 30px;
}
#banner h2 {
    color:rgb(7, 7, 7);
    margin-bottom: 10px;
    padding: 10px 0 ;
    font-size: 25px;
    text-transform: uppercase;
}
#banner span {
    color: red;
    font-size: 20px;
}
#banner{
    height: 40vh;
}
#banner .btn{
    margin-bottom: 20px;
}
#banner3{
    padding: 0 40px;
}
#banner3 .banner-box{
    width: 28%;
}
footer .install{
    margin-left: 50px;
    margin-bottom: 30px;
}

}

/* mobile */

@media(max-width:767px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color:azure;
        box-shadow: 0 40px 60px rgb( 0, 0, 0,0.02);
        padding: 80px 0 0 10px;
        transition: 0.3s;
       
        
    }
    
    
    #navbar li{
        margin-bottom: 25px;

    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile{
        color: black;
        font-size:24px;
        padding-left: 20px;
        cursor: pointer;
    }
#close{
    position: absolute;
    display: flex;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 25px;
}
#hero {
    background-image: url(../img/blonde-woman-grey-wall-with-surprise-facial-expression.jpg);
    height: 90vh;
    width: 100%;
    background-position: top 35% right 60%;
    background-size: cover;
    padding: 0 30px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}
#banner h4 {
    color: rgb(7, 7, 7);
    margin-bottom: 10px;
    padding: 10px 0 ;
    text-transform: uppercase;
    font-size: 30px;
}
#banner h2 {
    color:rgb(7, 7, 7);
    margin-bottom: 10px;
    padding: 10px 0 ;
    font-size: 25px;
    text-transform: uppercase;
}
#banner span {
    color: red;
    font-size: 20px;
}
#banner{
    height: 40vh;
}
#banner .btn{
    margin-bottom: 20px;
}
#banner3{
    padding: 0 40px;
    display: none;
}
#banner3 .banner-box{
    width: 28%;
}
footer .install{
    margin-left: 50px;
    margin-bottom: 30px;
}
#mini-banner .banner-box{
    display: none;
}
#product1 .pro img{
    width: 65%;
    border-radius: 20px;
}
h2{
    font-size: 30px;
}
footer{
    display: flex;
}
}
/* small screen */
@media(max-width:412px){
    #hero {
        background-image: url(../img/blonde-woman-grey-wall-with-surprise-facial-expression.jpg);
        height: 35vh;
        width: 100%;
        background-position: top 35% right 30% ;
        background-size: cover;
        padding: 0 30px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px;
    }
    .pro-container-best{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .pro-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    #mini-banner .banner-box{
        display: none;
    }
    #banner3{
        padding: 0 40px;
        display: none;
    }
    #banner{
        height: 20vh;
    }
    footer{
        display: flex;
    }
}